body {
	color: #323232;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

h2.section-title {
	color: white;
	font-family: Roboto;
	font-size: 35px;
	font-weight: 700;
	line-height: 41px;
}

h3.section-title {
	color: #323232;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
}

h1.catalog-title {
	color: white;
	font-family: Roboto;
	font-size: 35px;
	font-weight: 700;
	line-height: 41px;
}


body {
	background-color: #849d8f;
}

.centerer {
	width: 1146px;
	padding: 0 27px;
	margin: 0 auto;
}

.main-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
}

.main-nav {
	display: flex;
	flex-grow: 1;
}

.main-nav ul, .main-nav li, .main-nav img {
	padding: 0;
	margin: 0;
	list-style: none;
}

.main-nav img {
	margin-right: 10px;
}

.main-nav ul {
	display: flex;
	margin-top: auto;
	margin-bottom: auto;
}

.main-nav li {
	margin-right: 10px;
}

.user-block {
	display: flex;
}

.search {
	padding: 12px;
	margin-right: 10px;
	width: 17px;
	height: 17px;
	background: url("../img/search-icon.png") no-repeat;
	background-color: rgba(255, 255 , 255, 0.4);
	background-position: 50% 50%;
	border-radius: 32px;
}

.search-active {
	display: none;
}

.login {
	padding: 5px;
	margin-right: 10px;
	height: 32px;
	width: 92px;
	background: url("../img/login-icon.png") no-repeat; 
	background-color: rgba(255, 255 , 255, 0.4);
	border-radius: 32px;
	background-position: 16px 50%;	
}

.login-btn {
	padding-left: 42px;
}

.login-active{
	display: none;
}

.cart {
	padding: 5px;
	width: 117px;
	height: 32px;
	background: url("../img/empty-cart-icon.png") no-repeat;
	background-color: rgba(255, 255 , 255, 0.4);
	border-radius: 32px;
	background-position: 16px 50%;	
}

.cart-btn {
	padding-left: 42px;
}

.info {
	color: white;
	width: 450px;
	text-align: right;
}

.info p {
	margin-top: -5px;
}

.catalog-active li {
	display: none;
}

.slider {
	margin-top: 5px;
}

.action {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 40px;
	color: white;
}

.action-left {
	width: 540px;
	height: 209px;
	background: url("../img/action-left.jpg");
	border-radius: 15px;
	padding: 10px;
}

.action-right {
	width: 540px;
	height: 209px;
	background: url("../img/action-right.jpg");
	border-radius: 15px;
	padding: 10px;
}

.action-btn {
	float: right;
}

.btn {
	color: white;
	text-decoration: none;
}

.best {
	margin-bottom: 37px;
}

.best article {
	width: 267px;
	height: 267px;
	display: inline-block;
	margin-right: 22px;
}

.best article:last-child {
	margin-right: 0;
}
.best img {
	border-radius: 133px;
}

.btn-hover {
	display: none;
}

.description {
	background: url("../img/description-background.jpg") no-repeat;
	border-radius: 16px;
	margin-bottom: 20px;
}


.description p {
	width: 424px;
	display: inline-block;
	margin-right: 26px;
	padding-left: 60px;
	vertical-align: top;
	margin-top: 0;
}

.description .section-title {
	padding: 27px 21px;
	margin-bottom: 0;
}

.new {
	display: flex;
	justify-content: space-between;
}

.news {
	width: 540px;
	height: 195px;
	background: url(../img/news.jpg);
	border-radius: 15px;
	padding-left: 20px;
	padding-top: 25px;
	margin-right: 22px;
}

.news p {
	max-width: 310px;
}

.subscribe {
	width: 560px;
	height: 220px;
	background: url("../img/gllacy-subscribe-pattern.jpg");
	border-radius: 10px;
}

.subscribe p{
	margin: 0;
	padding: 0;
	padding-top: 31px;
	padding-left: 20px;
}

.subscribe form {
	width: 548px;
	height: 208px;
	background: url("../img/subscribe-background.png");
	margin: 6px;
	border-radius: 10px;
}

.subscribe button {
	float: right;
	width: 130px;
	margin-right: 20px;
}

.subscribe input {
	float: left;
	width: 360px;
	margin-left: 20px;
}

.subscribe input,.subscribe button {
	margin-top: 45px;
}

.map {
	width: 1200px;
	height: 429px;
	background: url("../img/map-with-marker.jpg");
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.contact-info {
	display: inline-block;
	width: 277px;
	height: 275px;
	margin-left: 850px;
	margin-top: 62px;
	padding-left: 25px;
	padding-top: 30px;	
	background-color: white;
	border-radius: 15px;
}

.feedback-form {
	display: none;
}

.main-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 18px;
}

.footer-social {
	width: 267px;
	margin-right: 26px;
	text-decoration: none;
}

.footer-social a {
	padding-right: 5px;
}

.footer-menu-2 ul, .footer-menu-1 ul {
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: "Myriad Pro";
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
}

.footer-menu-1 {
	width: 137px;
	padding-left: 127px;
	text-align: left;

}

.footer-menu-2 {
	width: 293px;
	margin-right: 26px;

}

.footer-copyright {
	font-size: 12px;
	width: 187px;
	padding-left: 80px;
}


/*                     catalog.html          */ 

.breadcrumbs {
	padding: 0;
	margin: 0;
	display: flex;
	list-style: none;
	margin-top: -30px;
}

.breadcrumbs li {
	padding-right: 20px;
}

.catalog {
	font-size: 0;
	margin-bottom: 9px;
}
.catalog-form {
	width: 870px;

}

.catalog-form p {
	display: inline-block;
}

.action-left .section-title {
	margin-bottom: 29px;
}

.catalog-item {
	display: inline-block;
	vertical-align: top;
	width: 267px;
	padding-right: 26px;
	padding-bottom: 37px;
	font-size: 16px;
}

.catalog-item:nth-child(4n) {
	padding-right: 0;
}

.catalog-item img {
	border-radius: 137px;
}


.pages {
	display: flex;
	height: 85px;
	justify-content: flex-end;
	align-items: center;
}

.page-number {
	padding: 0;
	margin: 0;
	display: flex;
	list-style: none;
}

.page-number li {
	padding-right: 7px;
}


