body {
	color: #323232;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	background-color: #849d8f;
}

h2.section-title {
	color: white;
	font-family: Roboto;
	font-size: 35px;
	font-weight: 700;
	line-height: 41px;
}

h3.section-title {
	color: #323232;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
}

h1.catalog-title {
	color: white;
	font-family: "Roboto Bold";
	font-size: 35px;
	font-weight: 400;
	line-height: 41px;
}

.centerer {
	width: 1146px;
	padding: 0 27px;
	margin: 0 auto;
}

.main-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
}

.main-nav {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	align-items: center;
}

.main-nav ul, .main-nav li, .main-nav img {
	padding: 0;
	margin: 0;
	list-style: none;
}

.main-nav img {
	margin-right: 19px;
}

.main-nav ul {
	display: flex;
	align-self: center;
}

.main-menu a {
	color: white;
	display: block;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 14px;
	padding-right: 14px;
	text-decoration: none;
}

.main-menu a:hover {
	color: #323232;
	background-color: #f7f6f3;
	border-radius: 15px;
}

.main-menu a:active {
	background-color: #ededed;
	box-shadow: inset 0 2px 1px dimgrey;
}

.main-menu > li {
	position: relative;
}

.main-menu .sub-menu {
	left: -6px;
	top: 45px;
	font-family: "Myriad Pro";
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	display: none;
	position: absolute;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.main-menu > li:hover .sub-menu {
	display: block;
}

.sub-menu a {
	min-width: 93px;
	padding: 10px 20px;
	list-style: none;
	color: #323232;
}

.sub-menu a:hover {
	border-radius: 0;
	background-color: #fbded7;
}

.sub-menu a:active {
	background-color: #f6b5a5;
}

.sub-menu li:first-child {
	border-bottom: 1px rgba(0,0,0, 0.2) solid;
}

.user-block {
	display: flex;
	text-decoration: none;
	color: white;
}

.search {
	margin-bottom: auto;
	margin-top: auto;
	position: relative;
	padding: 8px;
	margin-right: 10px;
	width: 17px;
	height: 17px;
	background: url("../img/search-icon.png") no-repeat;
	background-color: rgba(255, 255 , 255, 0.2);
	background-position: 50% 50%;
	border-radius: 32px;
}

.search:hover {
	background: url("../img/search-icon-hover.png") no-repeat;
	background-position: 50% 50%;
	background-color: #f8f7f4;
}

.search-hover {
	min-width: 341px;
	min-height: 44px;
	position: absolute;
	display: none;
	left: -342px;
	top: 41px;
	padding: 20px 15px;
	border-radius: 5px;
	background-color: #f8f7f4;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.search:hover .search-hover {
	display: block;
}

.search-hover input {
	min-width: 341px;
	min-height: 42px;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
	color: #999;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.login {
	position: relative;
	min-width: 92px;
	min-height: 32px;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	background: url("../img/login-icon.png") no-repeat; 
	background-color: rgba(255, 255 , 255, 0.2);
	border-radius: 32px;
	background-position: 16px 50%;	
}

.login-btn {
	display: block;
	padding-left: 44px;
	padding-right: 17px;	
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	text-decoration: none;
}

.login:hover {
	color: #323232;
	background: url("../img/login-icon-hover.png") no-repeat;
	background-position: 16px 50%;
	background-color: #f8f7f4;	
}

.login-btn:hover {
	color: #323232;
}

.login-hover {
	display: none;
	position: absolute;
	top: 40px;
	left: -188px;
	min-width: 237px;
	min-height: 174px;
	padding: 20px 20px;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.login:hover .login-hover {
	display: block;
}


.login-hover input {
	width: 241px;
	height: 44px;
	background-color: white;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
	margin-bottom: 20px;
	color: #999;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.login-hover div {
	float: right;
}

.login-hover a {
	display: block;
	color: #323232;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
}

.login-red {
	color: #fefefe;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	width: 102px;
	height: 46px;
	background-color: #e84d37;
	background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
	box-shadow: 0 1px 2px #ac1000;
	border-radius: 32px;
	border: 0;
}

.login-red:hover {
	background-image: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
	box-shadow: 0 2px 2px #ac1000;
}

.login-red:active {
	background-image: linear-gradient(to top, #e1613e 0%, #d74531 100%);
	box-shadow: inset 0 2px 2px #942718;
}

.cart {
	min-width: 117px;
	min-height: 32px;
	background: url("../img/empty-cart-icon.png") no-repeat;
	background-color: rgba(255, 255 , 255, 0.2);
	border-radius: 32px;
	background-position: 16px 50%;	
}

.cart-btn {
	display: block;
	padding-left: 44px;
	padding-right: 17px;	
	padding-top: 5px;
	padding-bottom: 5px;
}

.cart-btn:hover {
	color: #323232;
	background-color: #f8f7f4;
	background: url("../img/full-cart-icon.png") no-repeat;
	background-color: rgba(255, 255 , 255, 0.99);
	border-radius: 32px;
	background-position: 16px 55%;	
}

.cart-hover {
	min-width: 539px;
	min-height: 242px;
	display: none;
	position: absolute;
	top: 67px;
	right: 100px;
	background: url("../img/cart-form.png") no-repeat;
}

.cart:hover .cart-hover {
	display: block;
}

.info {
	color: white;
	width: 450px;
	text-align: right;
}

.info p {
	margin-top: -5px;
}

.slider {
	margin-top: 5px;
}

.action {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 40px;
	color: white;
}

.action-left {
	width: 540px;
	height: 209px;
	background: url("../img/action-left.jpg");
	border-radius: 15px;
	padding: 10px;
}

.action-right {
	width: 540px;
	height: 209px;
	background: url("../img/action-right.jpg");
	border-radius: 15px;
	padding: 10px;
}

.action-btn {
	float: right;
	padding: 11px 21px;
	color: white;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	opacity: 0.99;
	background-color: white;
	background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	text-decoration: none;
	border-radius: 23px;
}

.action-btn:hover {
	background-image: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
	box-shadow: 0 2px 2px #ac1000;
}

.action-btn:active {
	background-image: linear-gradient(to top, #e1613e 0%, #d74531 100%);
	box-shadow: inset 0 2px 2px #942718;
}

.btn {
	color: white;
	text-decoration: none;
	border-bottom: 1px rgba(255,255,255, 0.3) solid;
}

.btn:hover {
	color: #ffbc9e;
	border-color: #ffbc9e;
}

.btn:active {
	color: #ffbc9e;
	border-color: #ffbc9e;
}

.btn-black {
	color: #323232;
	text-decoration: none;
	border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
}

.btn-black:hover {
	color: #e84d37;
	border-color: #e84d37;
}

.btn-black:active {
	color: #e84d37;
	border-color: #e84d37;
}

.best {
	font-size: 0;
}

.best article:nth-child(4n) {
	margin-right: 0;
}

.best img {
	border-radius: 133px;
}

.article-hover {
	font-size: 16px;
	position: relative;
	display: inline-block;
	margin-right: 22px;
	vertical-align: top;
	text-align: center;
	width: 267px;
	margin-bottom: 38px;
}


 .bestseller.article-hover::before {
	position: absolute;
	background-color: white;
	border-radius: 32px;
	content: "ХИТ";
	width: 35px;
	height: 23px;
	padding: 18px 12px;
}

.article-hover:hover {
	background: rgba(255,255,255, 0.2);
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.price {
	position: relative;
	bottom: 92px;
	left: -45px;
	text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
	color: white;
	font-family: Roboto;
	font-size: 45px;
	font-weight: 700;
	line-height: 13px;
	margin-bottom: -50px;
}

.price b {
	font-weight: 700;
	font-size: 30px;
}

.btn-hover {
	display: none;
	color: white;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	background-color: #e84d37;
	background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
	box-shadow: 0 1px 2px #ac1000;
	border-radius: 20px;
	padding: 12px 15px;
	width: 201px;
	margin: auto;
	margin-top: 12px;
	margin-bottom: 20px;
	text-decoration: none;
}

.btn-hover:hover {
	background-image: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
	box-shadow: 0 2px 2px #ac1000;
}

.btn-hover:active {
	background-image: linear-gradient(to top, #e1613e 0%, #d74531 100%);
	box-shadow: inset 0 2px 2px #942718;
}

.article-hover:hover .btn-hover {
	display: block;
}

.description {
	font-size: 0;
	background: url("../img/description-pattern.jpg");
	border-radius: 16px;
	margin-bottom: 20px;
	padding: 27px 21px;
}

.description p {
	position: relative;
	font-size: 16px;
	width: 424px;
	display: inline-block;
	margin-right: 26px;
	padding-left: 60px;
	vertical-align: top;
	margin-top: 0;
}

.description p::before {
	position: absolute;
	top: -12px;
	left: 5px;
	content: "";
	width: 49px;
	height: 49px;
}

.description-1::before {
	background: url("../img/description-1.png") no-repeat;
}

.description-2::before {
	background: url("../img/description-3.png") no-repeat;
}

.description-3::before {
	background: url("../img/description-2.png") no-repeat;
}

.description-4::before {
	background: url("../img/description-4.png") no-repeat;
}

.description .section-title {
	margin: 0;
	margin-bottom: 30px;
}

.new {
	display: flex;
	justify-content: space-between;
}

.news {
	width: 540px;

	background: url(../img/news.jpg);
	border-radius: 15px;
	padding: 25px 20px;
	margin-right: 22px;
}

.news p {
	max-width: 310px;
}

.subscribe {
	width: 560px;
	height: 220px;
	background: url("../img/gllacy-subscribe-pattern.jpg");
	border-radius: 10px;
}

.subscribe p {
	margin: 0;
	padding: 0;
	padding-top: 31px;
	padding-left: 20px;
}

.subscribe form {
	width: 548px;
	height: 208px;
	background: url("../img/subscribe-background.png");
	margin: 6px;
	border-radius: 10px;
}

.subscribe input {
	float: left;
	width: 360px;
	height: 44px;
	margin-left: 20px;
	background-color: white;
	border: 1px solid rgba(178, 178, 178, 0.52);
	border-radius: 5px;
}

.subscribe button {
	float: right;
	padding: 11px 18px;
	margin-right: 20px;
	color: #fefefe;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	background-color: #e84d37;
	background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border-radius: 22px;
	border: 0;
}

.subscribe button:hover {
	background-image: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
	box-shadow: 0 2px 2px #ac1000;
}

.subscribe button:active {
	background-image: linear-gradient(to top, #e1613e 0%, #d74531 100%);
	box-shadow: inset 0 2px 2px #942718;
}

.subscribe input,.subscribe button {
	margin-top: 45px;
}

.map {
	width: 1200px;
	height: 429px;
	background: url("../img/map-with-marker.jpg");
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.contact-info {
	position: relative;
	left: 871px;
	top: 67px;
	width: 252px;
	padding: 30px 25px;	
	background-color: white;
	border-radius: 15px;
}

.contact-info p {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.contact-info .p-2 {
	margin-top: 20px;
}

.contact-info b {
	font-weight: 700;
	line-height: 24px;
}

.feedback a {
	display: block;
	padding: 10px 28px;
	margin-top: 24px;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	background-color: #e84d37;
	background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border-radius: 30px;
	border: 0;
}

.feedback a:hover {
	background-image: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
	box-shadow: 0 2px 2px #ac1000;
}

.feedback a:active {
	background-image: linear-gradient(to top, #e1613e 0%, #d74531 100%);
	box-shadow: inset 0 2px 2px #942718;
}

.feedback-modal {
	display: none;
	width: 427px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 18px;
	padding-bottom: 20px;
	background-color: #f8f7f4;
	border-radius: 10px;
	position: fixed;
	top: 168px;
	left: 50%;
	margin-left: -245px;
}

.feedback-modal-close {
	display: block;
	position: absolute;
	left: 440px;
	width: 18px;
	height: 17px;
	font-size: 0;
	background-image: url("../img/feedback-Х.svg");
	border: 0;
	cursor: pointer;
}

.feedback-modal h2 {
	padding: 0;
	margin-top: 0;
	color: #323232;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
}

.feedback-form  input[type="text"], .feedback-form input[type="email"], .feedback-form textarea {
	margin-bottom: 20px;
	padding: 10px 15px;
	color: #999;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	border: 1px solid rgba(178, 178, 178, 0.52);
	border-radius: 5px;
}

.feedback-form  input[type="text"], .feedback-form input[type="email"] {
	width: 265px;
}


.feedback-form textarea {
	width: 398px;
	resize: none
}

.feedback-form input:hover, .feedback-form textarea:hover {
	border: 1px solid rgba(154, 154, 154, 0.52);
}

.feedback-form input:focus, .feedback-form textarea:focus {
	border: 1px solid rgba(46, 136, 228, 0.52);
}

.feedback-modal-submit {
	float: right;
	color: #fefefe;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	padding: 11px 24px;
	background-color: #e84d37;
	background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border-radius: 30px;
	border: 0;
}

.feedback-modal-submit:hover {
	background-image: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
	box-shadow: 0 2px 2px #ac1000;
}

.feedback-modal-submit:active {
	background-image: linear-gradient(to top, #e1613e 0%, #d74531 100%);
	box-shadow: inset 0 2px 2px #942718;
}

.main-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 18px;
}
	
.footer-social {
	width: 267px;
	margin-right: 26px;
	text-decoration: none;
	font-size: 0;
	text-align: left;
}

.social-btn {
	display: inline-block;
	opacity: 0.8;
	margin: 0 5px;
	font-size: 0px;
	width: 31.5px;
	height: 31.5px;
	text-decoration: none;
	border-radius: 20px;
	border: 3px solid rgba(255, 255, 255, 0.7);

}

.twitter-btn {
	background-image: url(../img/icon-twitter.png);
	background-repeat: no-repeat;

}

.twitter-btn:hover {
	opacity: 1;
}

.twitter-btn:active {
	box-shadow: inset 0 2px 1px #888;
}

.instagram-btn {
	background-image: url(../img/icon-instagram.png);
	background-repeat: no-repeat;

}

.instagram-btn:hover {
	opacity: 1;
}

.instagram-btn:active {
	box-shadow: inset 0 2px 1px #888;
}

.facebook-btn {
	background-image: url(../img/icon-facebook.png);
	background-repeat: no-repeat;
	
}

.facebook-btn:hover {
	opacity: 1;
}

.facebook-btn:active {
	box-shadow: inset 0 2px 1px #888;
}

.vk-btn {
	background-image: url(../img/icon-vk.png);
	background-repeat: no-repeat;
}

.vk-btn:hover {
	opacity: 1;
} 

.vk-btn:active {
	box-shadow: inset 0 2px 1px #888;
}

.footer-menu-2 ul, .footer-menu-1 ul {
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: "Myriad Pro";
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
}

.footer-menu-1 {
	width: 137px;
	padding-left: 127px;
	text-align: left;
}

.heart {
	position: relative;
}

.heart::before {
	content: "";
	position: absolute;	
	width: 15px;
	height: 13px;
	left: -20px;
	top: 2px;
	background-image: url("../img/icon-heart.png");
}

.footer-menu-2 {
	width: 293px;
	margin-right: 26px;

}

.footer-copyright {
	font-size: 12px;
	width: 187px;
	padding-left: 80px;
}


/*                     catalog.html          */ 

.main-menu .current, .sub-menu .current {
	background-color: #d07058;
	border-radius: 15px;
}

.sub-menu .current {
	border-radius: 0;
	}

.breadcrumbs {
	padding: 0;
	margin: 0;
	display: flex;
	list-style: none;
	margin-top: -30px;
}

.breadcrumbs li {
	padding-right: 20px;
}

.breadcrumbs li:last-child a {
	border: 0;
}

.catalog {
	font-size: 0;
	margin-bottom: 9px;
}
.catalog-form {
	width: 879px;
	margin-bottom: 40px;
}

.catalog-form p {
	display: block;
}

.catalog-form label {
	display: inline-block;
	padding: 9px 16px;
}

.action-left .section-title {
	margin-bottom: 29px;
}

.pages {
	display: flex;
	height: 85px;
	justify-content: flex-end;
	align-items: center;
}

.page-number {
	padding: 0;
	margin: 0;
	display: flex;
	list-style: none;
}

.page-number li {
	padding-right: 7px;
}


